.radio-group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.radio-group .ant-radio-button-wrapper {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: unset;
}

.radio-group .ant-radio-button-wrapper:first-child {
    border-radius: unset;
    border-left: none;
}

.radio-group .ant-radio-button-wrapper:last-child {
    border-radius: unset;
    border-bottom: none;
}

.ant-radio-group-solid > label > span{
    white-space: nowrap;
}